#form-submit-btn {
    background-color: black;
    color: $light-grayish-violet;
    padding-block: 10px;
    border-radius: 0.5rem;
}
.thank-you__continue {
    width: 100%;
    background-color: black;
    color: $white;
    padding-block: 10px;
    border-radius: 0.5rem;
}
