.credit-card-images-container {
    background-image: url(../../images/bg-main-mobile.png);
    @media screen and (min-width: 1300px) {
        background-image: url(../../images/bg-main-desktop.png);
    }
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: center;
    @media screen and (min-width: 1300px) {
        flex-direction: column;
        gap: 4rem;
    }
    padding-inline: 2rem;
    padding-block: 4rem;
    position: relative;
}
.credit-card-front-view,
.credit-card-back-view {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    --size-factor: 0.55;
    @media screen and (min-width: 640px) {
        --size-factor: 0.75;
    }
    @media screen and (min-width: 800px) {
        --size-factor: 1;
    }
    height: calc(250px * var(--size-factor));
    width: calc(447px * var(--size-factor));
    border-radius: 1rem;

    position: relative;
}
.credit-card-front-view {
    background-image: url(../../images/bg-card-front.png);
    padding: 1rem;
    @media screen and (min-width: 800px) {
        padding: 3rem;
    }
    @media screen and (min-width: 1300px) {
        left: 30%;
    }
    color: $light-grayish-violet;

    position: absolute;
    transform: translateX(-20%) translateY(60%);
    @media screen and (min-width: 1300px) {
        transform: unset;
        position: relative;
    }
}
.credit-card-back-view {
    background-image: url(../../images/bg-card-back.png);
    left: 10%;
    @media screen and (min-width: 1300px) {
        left: 50%;
    }
    color: $white;
}
.credit-card-front-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}
.credit-card-infos {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}
.card-number {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.card-logo-container {
    max-width: 63px;
    @media screen and (min-width: 800px) {
        max-width: 84px;
    }
}
.card-holder-info span {
    float: right;
}

.credit-card-back-view {
    position: relative;
}
.CVV {
    position: absolute;
    top: 44%;
    @media screen and (min-width: 640px) {
        top: 45%;
    }
    right: 12%;
}
