.thank-you {
    min-width: 30rem;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.thank-you__text-content {
    text-align: center;
}
.thank-you__heading {
    margin-bottom: 2rem;
}
.thank-you__paragraph {
    color: $dark-grayish-violet;
}
