.card-number > p {
    --size-factor: 0.5;
    @media screen and (min-width: 640px) {
        --size-factor: 0.75;
    }
    @media screen and (min-width: 800px) {
        --size-factor: 1;
    }
    font-size: calc(3rem * var(--size-factor));
    letter-spacing: 0.2rem;
}
.card-holder-info {
    --size-factor: 0.55;
    @media screen and (min-width: 640px) {
        --size-factor: 0.75;
    }
    @media screen and (min-width: 800px) {
        --size-factor: 1;
    }
    font-size: calc(1.3rem * var(--size-factor));
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}
.CVV {
    --size-factor: 0.65;
    @media screen and (min-width: 800px) {
        --size-factor: 1;
    }
    font-size: calc(1.4rem * var(--size-factor));
    letter-spacing: 0.25rem;
}
.credit-card-infos-input-form {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.form-input-group {
    font-size: 1.5rem;
}
#form-submit-btn {
    font-size: 1.8rem;
}

.thank-you__heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.36rem;
}
.thank-you__paragraph {
    font-size: 1.8rem;
}
.thank-you__continue {
    font-size: 1.6rem;
}
